header {
  background-color: DarkRed;
  color: white;
  padding: 20px 20px 20px 20px;
}
header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
}
header p {
  float: right;
  font-size: 15px;
  text-align: right;
  padding: 5px;
  text-decoration-line: underline;
}
nav {
  background-color: DimGray;
  color: white;
  padding: 10px 20px 10px 20px;
}
ul {
  overflow: hidden;
}
li {
  float: right;
  display: inline;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration-line: underline;
}
img {
  padding: 15px;
}
article {
  padding: 10px;
}
.sideimg {
  padding: 0px, 15px, 15px, 15px;
}
h2 {
  padding: 0px 50px 20px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
h3 {
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
article p {
  padding-left: 30px;
  width: 77%
}
aside {
  width: 20%;
  padding-left: 10px;
  margin-left: 15px;
  float: right;
}
footer {
  background-color: DimGray;
  color: white;
  padding: 20px 20px 20px 20px;
}
